<html>
  <script type="dagger/modules">
    {
      view: {uri: "#view", init: {css: null}},
      css: "./index.css",
      menu_group: {uri: "#menu-group", init: {css: null}},
      menu_item: {uri: "#menu-item", init: {css: null}},
      arrow: "#arrow-svg",
      js: "#js"
    }
  </script>
  <template id="view">
    <div class="menu-container" $style="$scope.css">
      <div class="menu-content">
        <template @slot></template>
      </div>
    </div>
  </template>
  menu_group: {label: str, link: str, unclickable: boolean, menu_item: {label:
  str, link: str}}
  <template id="menu-group">
    <div
      class="menu-group"
      +loading="{unclickable: $scope.unclickable? true: false, expand: true}"
    >
      <a
        class="group-label"
        $href="unclickable? null: $scope.link"
        +click#prevent="menuClick($scope, $event, $node)"
        $class#router="{unclickable, active: $router.path == $scope.link, expand}"
      >
        <arrow></arrow>
        <div>${label}</div>
      </a>
      <div class="item-container" $exist="expand">
        <template @slot></template>
      </div>
    </div>
  </template>
  <template id="menu-item">
    <a
      class="menu-item"
      $href="link"
      $class#router="{active: $router.path == $scope.link}"
      ><span>${label}</span></a
    >
  </template>
  <template id="arrow-svg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"
      />
    </svg>
  </template>
  <script id="js" type="dagger/script">
    export const menuClick = ($scope, $event, $node) => {
      if ($scope.unclickable) {
        $event.stopPropagation()
      } else {
        if (document.activeElement==$node) {
          $scope.expand = !$scope.expand;
        }
        $event.stopPropagation()
      }
    };
  </script>
</html>
