<html>
  <script type="dagger/modules">
    {
      view: '#main',
      textbox: '#textbox',
      ll: './leader-line.min.js',
      styles: './content_block.css',
    }
  </script>
  <template id="main">
    <div class="content-block">
      <div class="content-title">† ${content_title?content_title:null}</div>
      <div class="content-main">
        <div class="text-col">
          <textbox
            $each="elArray.slice(0,sliceIndex)"
            $watch="createLine(item,LeaderLine)"
          ></textbox>
        </div>
        <div class="code-col">
          <div class="code">
            <pre>
              <code class="html" $html="codeFunction"></code>
            </pre>
          </div>
        </div>
        <div class="text-col">
          <textbox
            $each="elArray.slice(sliceIndex)"
            $watch="createLine(item,LeaderLine)"
          ></textbox>
        </div>
      </div>
    </div>
  </template>
  <template id="textbox">
    <div class="box-container" +loaded="item.start=$node">
      <div class="box-text">${item.text}</div>
    </div>
  </template>
</html>
