.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  .menu {
    width: 16rem;
    height: 100%;
  }
  .content {
    flex-grow: 1;
  }
}
