<html>
  <script type="dagger/modules">
    {
      view: "#bar-container",
      left_group:"#left-group",
      center_group: "#center-group",
      right_group: "#right-group",
      btn: "#nav-btn",
      style: "./index.css",
    }
  </script>
  <!-- <template id="base">
    <div $class="$scope.classnames" class="flex-center" $style="$scope.css">
      <template @slot></template>
    </div>
  </template> -->
  <template id="bar-container">
    <!-- <basic +loading="{classnames: 'bar-container'}">
      <template @slot>asdfasdfasd</template>
    </basic> -->
    <div class="bar-container flex-center" $style="$scope.css">
      <template @slot></template>
    </div>
  </template>

  <template id="left-group">
    <div class="left-group flex-center" $style="$scope.css">
      <template @slot></template>
    </div>
  </template>
  <template id="center-group">
    <div class="center-group flex-center" $style="$scope.css">
      <template @slot></template>
    </div>
  </template>
  <template id="right-group">
    <div class="right-group flex-center" $style="$scope.css">
      <template @slot></template>
    </div>
  </template>

  btn: {label: str, link: str}
  <template id="nav-btn">
    <a class="nav-btn" $href="link">
      <div>${label}</div>
    </a>
  </template>
</html>
