<div class="content-card">
  <div class="box-container start">
    <div id="loading-text" class="box-text">
      The +loading directive creates a state variable named open and sets it to
      false.
    </div>
  </div>
  <div class="code">
    <pre>
      <code class="html" $html="highlightDirectiveContent(labeledDirectiveContent)"></code>
    </pre>
  </div>
  <div class="box-container end">
    <div id="click-text" class="box-text">
      The +click directive toggles the open variable from true to false with a click event of the
      host element.
    </div>
  </div>
</div>
