<html>
  <script type="dagger/modules">
    {
      view: "#view",
      list_item: "#list-item",
      arrow: {uri: "/svg/arrow.svg", type: 'view'},
      style: "./index.css"
    }
  </script>
  <template id="view">
    <div class="container">
      <div class="header">On this page</div>
      <div class="table">
        <template @slot></template>
      </div>
    </div>
  </template>
  level1: {hash: str, label: str}
  <template id="list-item">
    <a
      id="list-item"
      $href="$router.path + '#' + hash"
      $class="{'ml-4': level==2}"
    >
      <arrow $exist="level==2" +loading="{classnames: ['toc-arrow']}"></arrow>
      <span>${label}</span>
    </a>
  </template>
</html>
