@import "../../styles/global.scss";

.container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: $text-color-lite;
  padding-top: 1.5rem;
  overflow: scroll;
  .header {
    filter: brightness(75%);
    font-weight: 600;
  }
  .table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
    & > * {
      &:hover {
        filter: brightness(125%);
      }
    }
    a {
      color: inherit;
    }
    .ml-4 {
      margin-left: 1rem;
    }
  }
}

.toc-arrow {
  margin-right: 1rem;
  fill: $text-color-lite;
  height: 0.75rem;
}
