.scene2-card-list {
  height: 500px;
}
.create-task-btn {
  margin: 2rem 2rem 0 2rem;
}
.tutorial-card-container {
  min-width: 364px;
  min-height: 300px;
  margin: 2rem;
  padding: 2rem;
  background-color: #a0c2e4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
}

.flex-grid {
  display: flex;
}
