@import "../../styles/global.scss";

.layout-container {
  display: flex;
  justify-content: center;
  height: 100%;
  .layout {
    display: flex;
    max-width: 1200px;
    width: 92vw;
    min-width: 1024px;
    height: 100%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  width: 500px;
  height: 100%;
  overflow-y: scroll;
}

.menu-item {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  border: $border-color-lite;
  color: $text-color;
  &:hover {
    background-color: $bg-color-lite;
  }
}

.item-container {
  padding-left: 2rem;
}

.page-container {
  flex-grow: 1;
  border: 1px solid white;
  overflow-y: scroll;
  color: $text-color-lite
}

.big-title {
  font-size: 2rem;
}

