@import "../../styles/global.scss";
$tab-contrast: rgb(221, 221, 221);

.code-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  flex-flow: scroll;
  flex-grow: 1;
  .code-box {
    border-radius: 0 0 8px 8px;
    padding: 0.5rem 1.5rem;
    width: 100%;
    flex: 1;
    background-color: #0a151b;
    color: $tab-contrast;
    border: 2px solid $text-color;
    overflow: scroll;
    * {
      flex-wrap: wrap;
    }
  }
}
.tab-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  overflow: scroll;
  .tab {
    font-size: 1rem;
    font-weight: 600;
    background-color: $text-color;
    border-radius: 8px 8px 0 0;
    color: $tab-contrast;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
  }
  .inactive {
    opacity: 0.5;
  }
}

.demo-input {
  border: 0px;
  margin: 2px;
  padding: 0.15rem;
  background: $tab-contrast;
  color: rgb(40, 40, 40);
  border-radius: 0.2rem;
  transition: all 150ms ease 0s;
  font-size: 0.8rem;
  height: 1.25rem;
}

.scope {
  min-width: 8rem;
}

.eval {
  min-width: 12rem;
}

.label-container {
  display: flex;
  flex-direction: row;
  span {
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: $text-color;
    border-radius: 8px 8px 0 0;
    color: $tab-contrast;
  }
}

.full-tab {
  width: 100%;
}