<html>
  <script type="dagger/modules">
    {
      view: { uri: "#view", init: {css: "border: 1px solid white"}},
      style: "./code_container.css",
      html_script: "./demo_html.js",
      js_script: "./demo_js.js",
      css_script: "./demo_css.js",
      script: "#script"
    }
  </script>
  #require {css: str, files: [file]} {file: {label: str, type: 'js'/'html',
  code: str}}
  <template id="view">
    <div class="code-container" +loading="{active: 0}" $style="$scope.css">
      <div class="tab-container">
        <div
          class="tab"
          $each="files"
          +click="active=index"
          $class="{inactive: active!=index}"
        >
          ${item.label}
        </div>
      </div>
      <div
        class="code-box"
        +loading="{file: files[active]}"
        $watch="file=files[active]"
      >
        <pre><code class="html" $html="produceCode(file.type, file.code, produceDemoJs, produceDemoHtml, produceDemoCss, hljs, hljsGrammar, hlcssGrammar)"></code></pre>
      </div>
    </div>
  </template>
  <script id="script" type="dagger/script">
    export const produceCode = (type, code, produceDemoJs, produceDemoHtml, produceDemoCss, hljs, hljsGrammar, hlcssGrammar) => {
      if (type == "js") {
        return produceDemoJs(hljs, hljsGrammar, code);
      } else if (type == "html") {
        return produceDemoHtml(hljs, code);
      } else if (type == "css") {
        return produceDemoCss(hljs, hlcssGrammar, code);
      }
    };
  </script>
</html>
