.browser-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .render-box {
    border-radius: 24px;
    background-color: antiquewhite;
    width: 100%;
    flex: 1;
    border: 3px solid #f1f1f1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    .row {
      align-items: center;
      height: 24px;
      background: #f1f1f1;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .dot {
      margin: 4 0 0 6;
      height: 12px;
      width: 12px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }
    .column {
      float: left;
    }
    .content {
      height: calc(100% - 24px);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
}
