.code-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .code-box {
    border-radius: 24px;
    padding: 16px 32px;
    width: 100%;
    flex: 1;
    background-color: #011727;
    color: #d5deeb;
    * {
      flex-wrap: wrap;
    }
  }
}

.demo-input {
  border: 0px;
  margin: 2px;
  padding: 0.15rem;
  background: rgb(221, 221, 221);
  color: rgb(40, 40, 40);
  border-radius: 0.2rem;
  transition: all 150ms ease 0s;
  font-size: 0.70rem;
  height: 1.25rem;
}

.scope {
  min-width: 8rem;
}

.eval {
  min-width: 12rem;
}
