@import "../../styles/global.scss";

.content-layout {
  width: 100%;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  .content {
    width: 600;
    flex-grow: 1;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    color: $text-color-lite;
    gap: 6rem;
    .banner {
      .category {
        font-weight: 400;
        color: $contrast-color-dark;
      }
      .directive {
        padding: 1rem 0;
        font-size: 3rem;
        font-weight: 600;
        color: $contrast-color;
      }
      .description {
        color: $contrast-color-lite;
      }

      .diagram {
        margin: 4rem 0;
        padding: 6rem 0;
        width: 100%;
        background-color: $bg-color;
        border: 1px solid $border-color;
        border-radius: 1rem;
        font-size: 4rem;
        display: flex;
        justify-content: center;
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .section-title {
        width: 100%;
        padding: 0.5rem 0 0.5rem 0;
        border-radius: 0.5rem;
        color: $text-color;
        background-color: $bg-color-darker;
        font-size: 2rem;
        font-weight: 500;
        &:hover {
          background-color: $bg-color-lite;
        }
      }
      .sub-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .sub-title {
          padding: 0.5rem 0 0.5rem 0;
          border-radius: 0.5rem;
          width: 100%;
          color: $text-color;
          font-size: 1.5rem;
          font-weight: 300;
          &:hover {
            background-color: $bg-color;
          }
        }
      }
    }
  }
  .toc {
    width: 14rem;
  }
}

.letter-st {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.tip-container {
  display: flex;
  align-items: stretch;
  border: 1px solid $contrast-color-lite;
  border-radius: 0.5rem;
  .bulb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    svg {
      fill: $contrast-color-lite;
      height: 2rem;
    }
  }
  .message {
    color: $contrast-color-dark;
    padding: 1rem 2rem;
  }
}
