$bg-color: #251e3f;
$bg-color-dark: #19182f;
$bg-color-darker: #150b23;
$bg-color-lite: #433760;
$border-color: #5a4e76;
$border-color-lite: #71609a;
$primary-color-lite: #e8aec9;
$primary-color: #cf75e3;
$primary-color-dark: #ff618c;
$text-color: #9965de;
$text-color-lite: #c1d1e4;
$contrast-color: #ddb826;
$contrast-color-dark: #fc9c00;
