.outer-container {
  background-color: #19182f;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.home-container {
  max-width: 1200px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.flex-col {
  display: flex;
  flex-direction: col;
}

.center {
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  max-height: 700px;
  height: calc(100vh - 56px);
  min-height: 500px;
}
.banner .banner-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.banner .banner-container .left-banner {
  width: 50%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  justify-items: center;
  gap: 0.25rem;
  line-height: 1.6;
  padding-right: 100px;
}
.banner .banner-container .left-banner .brand-text {
  font-size: 4.5rem;
  font-weight: 900;
}
.banner .banner-container .left-banner .motto {
  font-size: 2.5rem;
  font-weight: 500;
}
.banner .banner-container .left-banner .details {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #c1d1e4;
  font-size: 1rem;
  font-weight: 200;
}
.banner .banner-container .left-banner .banner-btns {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.banner .banner-container .left-banner .banner-btns .btn {
  background-color: #150b23;
  border: solid 1px #5a4e76;
}
.banner .banner-container .left-banner .banner-btns .btn:hover {
  background-color: #433760;
}
.banner .banner-container .left-banner .banner-btns .get-group {
  color: #ddb826;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 3rem;
}
.banner .banner-container .left-banner .banner-btns .get-group .version {
  border-radius: 8px 0 0 8px;
  float: left;
  width: 6rem;
}
.banner .banner-container .left-banner .banner-btns .get-group .address {
  padding-left: 1rem;
  border-radius: 0 0 0 0;
  border-left: none;
  border-right: none;
  flex-grow: 1;
  overflow: hidden;
}
.banner .banner-container .left-banner .banner-btns .get-group .address span {
  display: inline;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.banner .banner-container .left-banner .banner-btns .get-group .download {
  width: 6rem;
  border-radius: 0 8px 8px 0;
}
.banner .banner-container .left-banner .banner-btns .get-group .download img {
  width: 22px;
  height: 22px;
}
.banner .banner-container .left-banner .banner-btns .start-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner .banner-container .left-banner .banner-btns .start-group .link {
  height: 3rem;
  color: #ddb826;
  font-weight: 500;
  width: 9rem;
}
.banner .banner-container .right-banner {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 255, 145, 0.099);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background-color: #433760;
}

.navbar {
  background-color: rgba(12, 12, 25, 0.591);
  position: sticky;
  z-index: 99;
  top: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: inset 0 -1px 1px 0 #5a4e76;
}
.navbar .nav-container {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
.navbar .nav-container .nav-logo {
  width: 3rem;
  height: 3rem;
}
.navbar .nav-container .nav-logo img {
  width: 3rem;
  height: 3rem;
}
.navbar .nav-container .nav-left-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
}
.navbar .nav-container .nav-left-menu div {
  font-size: 1rem;
  font-weight: 600;
  color: #e18de8;
  padding: 0.75rem;
}
.navbar .nav-container .nav-right-menu {
  width: auto;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}
.navbar .nav-container .nav-right-menu .searchbar {
  cursor: pointer;
  width: 8rem;
  background-color: #433760;
  border-radius: 8px;
  border: solid 1px #5a4e76;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  color: #e18de8;
  padding: 0.25rem;
  gap: 0.25rem;
}
.navbar .nav-container .nav-right-menu .searchbar img {
  width: 22px;
  height: 22px;
}
.navbar .nav-container .nav-right-menu .nav-link {
  border: solid 1px #5a4e76;
  width: 2rem;
  height: 2rem;
}
.navbar .nav-container .nav-right-menu .nav-link img {
  width: 22px;
  height: 22px;
}

.partners {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners .logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.partners .logos .container .huggingface {
  height: 3.5rem;
}
.partners .logos .container .netflix {
  height: 2.5rem;
}
.partners .logos .container .notion {
  height: 3.5rem;
}
.partners .logos .container .shopify {
  height: 3rem;
}
.partners .logos .container .vercel {
  height: 2.5rem;
}
.partners .logos .container .zustand {
  height: 5rem;
}
.partners .description {
  margin-top: 4rem;
  color: #c1d1e4;
}

.sub {
  font-size: 1.25rem;
  color: #e18de8;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.main {
  font-size: 2.5rem;
  font-weight: 500;
  color: #9965de;
}
.main .highlight {
  color: #e18de8;
  font-weight: 600;
}

.concepts {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #150b23;
}
.concepts .home-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.concepts .home-container .header {
  width: 45%;
  max-width: 450px;
  min-width: 250px;
}
.concepts .home-container .card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  color: white;
}

.concept-card {
  background-color: #251e3f;
  border: solid 1px #5a4e76;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 150px;
  padding: 1rem;
  gap: 2rem;
}
.concept-card .title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ddb826;
}
.concept-card .text {
  color: #c1d1e4;
  font-size: 1rem;
  font-weight: 100;
  flex-grow: 1;
}
.concept-card .more {
  align-self: flex-end;
  justify-content: end;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 800;
  color: #e18de8;
}

.concept-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
}
.concept-grid .content-container {
  transition: all 0.6s;
  background-color: #251e3f;
  border-radius: 0 0.75rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #c1d1e4;
  font-size: 0.9rem;
}
.concept-grid .tabs-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.concept-grid .tabs-container .tab {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #19182f;
  padding: 1rem;
  color: #c1d1e4;
  border-radius: 0.75rem 0rem 0rem 0.75rem;
  margin-left: 2rem;
  transition: all 0.6s;
}
.concept-grid .tabs-container .tab .title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ddb826;
}
.concept-grid .tabs-container .tab .text {
  margin-left: 1rem;
  font-size: 0.9rem;
}
.concept-grid .tabs-container .tab:hover {
  background-color: #5a4e76;
}
.concept-grid .tabs-container .active {
  background-color: #251e3f;
  margin-left: 0;
}
.concept-grid .tabs-container .active .title {
  font-size: 1.5rem;
  font-weight: 800;
}
.concept-grid .tabs-container .active .text {
  font-size: 1.1rem;
}

.content-title {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  color: #c1d1e4;
  justify-self: start;
}/*# sourceMappingURL=homepage.css.map */